/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

/* Adding variables and base text styling */
html {
  --main-dark:#051849;
  --main-light:#0741FD;
  
  --font-dark:#051849;
  --font-light:#fff;

  --banner-bg:#01CD99;
}

h1 {
  font-size: 56px;
  line-height: 69px;
  font-weight: 900;
  font-family: "Inter",sans-serif;
}

h2 {
  font-size: 48px;
  line-height: 59px;
  font-weight: 900;
  font-family: "Inter",sans-serif;
}

h3 {
  font-size: 40px;
  line-height: 49px;
  font-weight: 900;
  font-family: "Inter",sans-serif;
}

.body-text-1 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-family: "Inter",sans-serif;
}

.body-text-2 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Inter",sans-serif;
}

/* utility class */
body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

/* footer */
footer {
  margin: 0;
  padding: 0;
  background-color: var(--main-dark);
  color: #fff;
  font-family: "Inter",sans-serif;
  padding: 45px 0;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
}

footer .logo {
  width: min-content;
  margin: 0 auto;
  margin-bottom: 14px;
}

footer p {
  margin-bottom: 3px;
}

/* Blue button component */
.blueBtn {
  padding: 8px 18px;
  display: inline-block;
  background-color: var(--main-light);
  color: #fff;
  font-size: 14px;
  font-family: Arial,sans-serif;
  border-radius: 10px;
  border: none;
}

.blueBtn:hover {
  cursor: pointer;
  background-color: #2659FF;
}

.blueBtn:active {
  background-color: var(--main-light);
}

.blueBtn.disabled {
  background-color: #bab7b7;
}

.blueBtn.disabled:hover {
  cursor: default
}

