/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

/* Adding variables and base text styling */
html {
  --main-dark:#051849;
  --main-light:#0741FD;
  
  --font-dark:#051849;
  --font-light:#fff;

  --banner-bg:#01CD99;
}

h1 {
  font-size: 56px;
  line-height: 69px; /* It was originally 69.17px but rounded all values, did the same for all line heights in task */
  font-weight: 900;
  font-family: "Inter",sans-serif; /* todo change to inter black */
}

h2 {
  font-size: 48px;
  line-height: 59px;
  font-weight: 900;
  font-family: "Inter",sans-serif; /* todo change to inter black */
}

h3 {
  font-size: 40px;
  line-height: 49px;
  font-weight: 900;
  font-family: "Inter",sans-serif; /* todo change to inter black */
}

.body-text-1 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-family: "Inter",sans-serif;
}

.body-text-2 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Inter",sans-serif;
}

/* utility class */
body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

/* hero section */
.heroContainer {
  background-color: #051849;
  background-image: url('../public/images/vectorBg1.png'); /* todo sort this bg out*/
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position:bottom right;
  display: none; /* todo - remove this */
}

.heroSection {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter",sans-serif;
  min-height: 800px;
}

.heroSection .left h1 {
  max-width: 530px;
  font-size: 56px;
  line-height: 67px;
  font-weight: 900;
}

.heroSection .left p {
  max-width: 455px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400px;
}

.heroSection img {
  width: 445px;
}

/* ticketSpec section */
.ticketSpec h2 {
  text-align: center;
  color: var(--font-dark);
  margin: 109px 0;
}


/* footer */
footer {
  margin: 0;
  padding: 0;
  background-color: var(--main-dark);
  color: #fff;
  font-family: "Inter",sans-serif;
  padding: 45px 0;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
}

footer .logo {
  width: min-content; /* todo check this again, fix the logic for the logo */
  margin: 0 auto;
  margin-bottom: 14px;
}

footer p {
  margin-bottom: 3px;
}

