/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

/* utility class */
body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

/* hero section */
.heroContainer {
  background-color: #051849;
}

.heroSection {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter",sans-serif;
}

.heroSection .left h1 {
  max-width: 530px;
  font-size: 56px;
  line-height: 67px;
  font-weight: 900;
}

.heroSection .left p {
  max-width: 455px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400px;
}

.heroSection img {
  width: 445px;
}

/* ticketSpec section */
.ticketSpec h2 {
  text-align: center;
  font-weight: 900;
  font-size: 56px;
  font-family: "Inter",sans-serif;
  color: #051849;
  margin: 109px 0;
}


/* footer */
footer {
  margin: 0;
  padding: 0;
  background-color: #051849;
  color: #fff;
  font-family: "Inter",sans-serif;
  padding: 45px 0;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
}

footer .logo {
  width: min-content; /* todo check this again, fix the logic for the logo */
  margin: 0 auto;
  margin-bottom: 14px;
}

footer p {
  margin-bottom: 3px;
}

