.bannerFull {
    background-color: #01CD99;
}
.bannerInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 21.78px;
    color: #051849;
    padding: 0 30px;
}

.bannerInner button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    margin: 11px 0;
    height: 42px;
    width: 53px;
    line-height: 21.78px;
    color: #051849;
}

.bannerInner .text {
    max-width: 1324px;
}

.bannerInner button:hover {
    cursor: pointer;
}