
body.modalOpen .modalOverlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(2, 12, 36, 0.58);
    z-index: 4;
}

body.modalOpen {
    overflow: hidden;
    
}

.modalOverlay {
    display: none;
}