.heroContainer {
    background-color: #051849;
    background-image: url('../../public/images/vectorBg1.png');
    background-repeat: no-repeat;
    background-size: 120% auto;
    background-position:bottom left;
    padding: 200px 0 300px;
}

.heroSection {
    color: #fff;
    display: flex;
    justify-content: space-between;
    font-family: "Inter",sans-serif;
    padding: 0 40px;
}

.heroSection .left {
    margin-right: 15px;
}

.heroSection .left h1 {
    max-width: 530px;
    margin-top: 10px;
}

.heroSection .left p {
    max-width: 455px;
}

.heroSection .right {
    position: relative;
    width: 54%;
}

.heroSection img {
    width: 100%;
    position: relative;
    z-index: 2;
    border-radius: 20px;
}

.heroSection .imgWrapper {
    position: relative;
}

.heroSection .imgWrapper::after {
    content: "";
    position: absolute;
    top: -10%;
    right: -5%;
    width: 100%;
    height: 100%;
    z-index: 0;
    border:2px solid #064880;
    border-radius:20px;
}

@media (max-width: 830px){
    .heroContainer {
        padding: 0 0 140px 0;
        background-size: cover;
        background-position: bottom 0 left 28%;
    }
    
    .heroSection {
        padding-top:0;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .heroSection .left {
        order: 2;
        padding: 50px 25px 0;
        margin-right: 0;
    }

    .heroSection .left h1 {
        font-size: 40px;
        line-height: 48px;
    }

    .heroSection .right {
        border-radius: 0 0 40px 40px;
        order: 1;
        width: unset;
        padding: 0;
        height: 300px;
        width: 100%;
        overflow: hidden;
        margin-top: -20px;
    }
    
    .heroSection .right img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .heroSection .right {
        height: auto;
    }

    .heroSection .imgWrapper {
        height: unset;
    }

    .heroSection .imgWrapper::after {
        display: none;
    }
}