/* hero section */
.heroContainer {
    background-color: #051849;
    background-image: url('../../public/images/vectorBg1.png'); /* todo sort this bg out*/
    background-repeat: no-repeat;
    background-size: 120% auto;
    background-position:bottom left;
    padding: 200px 0 300px;
}

.heroSection {
    color: #fff;
    display: flex;
    justify-content: space-between;
    font-family: "Inter",sans-serif;
    padding: 0 40px;
}

.heroSection .left h1 {
    max-width: 530px;
    margin-top: 50px;
}

.heroSection .left p {
    max-width: 455px;
}

/* .heroSection .left, .heroSection .right {
    padding: 0 40px;
} */

.heroSection .right {
    position: relative;
    width: 56%;
    /* margin-right: 10px; */
}

.heroSection img {
    /* width: 849px; */
    width: 100%;
    position: relative;
    z-index: 2;
    border-radius: 20px; /* info - Added this just in case even though image has */
}

/* todo - outline component */
/* .right::after {
    content: "";
    position: absolute;
    top: -6%;
    right: -3%;
    width: 100%;
    height: 100%;
    z-index: 0;
    border:2px solid #064880;
    border-radius:20px;
} */

@media (max-width: 700px){
    .heroContainer {
        padding: 0 0 140px 0;
        /* todo - sort out display */
        background-size: cover;
        background-position: bottom 0 left 28%;
    }
    
    .heroSection {
        padding-top:0;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .heroSection .left {
        order: 2;
        padding: 0 25px;
    }

    .heroSection .left h1 {
        font-size: 40px;
        line-height: 48px;
    }

    .heroSection .right {
        border-radius: 0 0 40px 40px;
        order: 1;
        width: unset;
        padding: 0;
        height: 300px;
        width: 100%;
        overflow: hidden;
    }
    
    .heroSection .right img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* todo - outline component */
    /* .right::after {
        display: none;
    } */

}