.ticketSpecContainer {
    background:url("../../public/images/vectorBg2.png") no-repeat -40px 0 /contain;
    padding: 109px 40px;
}

.ticketSpec h2 {
    text-align: center;
    color: var(--font-dark);
    margin: 0;
    margin-bottom: 109px;
  }

.imgSpecContainer {
    display: flex;
    font-family: "Lato",sans-serif; /* todo check this font */
    color: var(--main-dark);
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 140px;
    background-color: #fff;
}

.imgSpecContainer .leftCard {
    border: 1px solid var(--main-dark);
    border-right: none;
    flex: 4;
}

.imgSpecContainer .leftCard .ticketContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100% - 56px); /* todo check if this is as it should be. This is the width of the lower box. Should be ok. */
}

.imgSpecContainer .leftCard .ticketContainer button {
    background-color: transparent;
    border:none;
}

.imgSpecContainer .leftCard .ticketContainer button:first-child i,
.imgSpecContainer .leftCard .ticketContainer button:last-child i {
    content: url("../../public/icons/arrow.png");
    /* width: 38px; */
}

.imgSpecContainer .leftCard .ticketContainer button:first-child i {
    transform: rotate(180deg);
}

.ticketContainer .phantomDiv {
    width: 33px; /* same width as arrow button with its padding */
}

.imgSpecContainer .ticketContainer img {
    width: 80%;
}

.imgSpecContainer .leftCard .priceAndBtnContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.imgSpecContainer .leftCard > div:not(:last-child), .imgSpecContainer .rightCard > div:not(:last-child) {
    border-bottom: 1px solid var(--main-dark);
}

.imgSpecContainer .rightCard {
    border: 1px solid var(--main-dark);
    flex: 6;
}

.imgSpecContainer .rightCard .heading {
    font-size: 22px;
    line-height: 30px;
    padding: 44px 18px 28px 18px;
}

.imgSpecContainer .rightCard .iconTextDetailsContainer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.imgSpecContainer .rightCard .iconTextDetailsContainer .details {
    grid-column: 2/4;
    padding: 38px 32px;
    box-sizing: border-box;
}

.imgSpecContainer .rightCard .iconTextDetailsContainer .iconText {
    display: flex;
    align-items: center;
    padding: 38px 0 38px 32px;
    box-sizing: border-box;
}

/* .imgSpecContainer .rightCard .iconTextDetailsContainer .details {
    flex: 4;
}

.imgSpecContainer .rightCard .iconTextDetailsContainer > div:nth-child(2) {
    flex: 1;
} */


.imgSpecContainer .rightCard .iconTextDetailsContainer > div:not(:last-child){
    border-right:1px solid var(--main-dark);
}

.icon1 {
    content:url('../../public/icons/icon-digital.svg');
}

.icon2 {
    content:url('../../public/icons/icon-physical.png');
}

.icon3 {
    content:url('../../public/icons/icon-membership.svg');
}

@media (max-width:1111px){
    .imgSpecContainer .rightCard .iconTextDetailsContainer .iconText {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center; 
    }
}

@media (max-width:870px){
    .ticketSpecContainer {
        background:url("../../public/images/vectorBg2.png") no-repeat -150px 0 /contain;
    }

    .imgSpecContainer {
        display: block;
    }

    .imgSpecContainer .leftCard {
        border-right: 1px solid var(--main-dark);
    }
    
    .imgSpecContainer .leftCard {
        border-bottom: 1px solid var(--main-dark);
    }

    .imgSpecContainer .leftCard .ticketContainer {
        padding-top: 70px;
        padding-bottom: 60px;
    }

    .imgSpecContainer .rightCard {
        margin-top: 35px;
    }

    .imgSpecContainer .rightCard .iconTextDetailsContainer {
        grid-template-columns: repeat(3,1fr);
    }

    .imgSpecContainer .rightCard .iconTextDetailsContainer .iconText,
    .imgSpecContainer .rightCard .iconTextDetailsContainer .details {
        padding: 16px 10px;
    }

    @media (max-width:441px) {
        .imgSpecContainer .rightCard .iconTextDetailsContainer {
            grid-template-columns: repeat(2,1fr);
        }
    }
}