.ticketSpec h2 {
    text-align: center;
    color: var(--font-dark);
    margin: 109px 0;
  }

.imgSpecContainer {
    display: flex;
    font-family: "Lato",sans-serif;
    color: var(--main-dark);
    font-size: 18px;
    line-height: 20px;
    padding: 0 40px;
    margin-bottom: 140px;
}

.imgSpecContainer .leftCard {
    border: 1px solid var(--main-dark);
    border-right: none;
    flex: 4;
}

.imgSpecContainer .leftCard .ticketContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 368px; /* todo check if this is as it should be */
}

.imgSpecContainer .leftCard .ticketContainer button {
    background-color: transparent;
    border:none;
}

.imgSpecContainer .ticketContainer img {
    width: 80%;
}

.imgSpecContainer .leftCard .priceAndBtnContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.imgSpecContainer .leftCard > div:not(:last-child), .imgSpecContainer .rightCard > div:not(:last-child) {
    border-bottom: 1px solid var(--main-dark);
}

.imgSpecContainer .rightCard {
    border: 1px solid var(--main-dark);
    flex: 6;
}

.imgSpecContainer .rightCard .heading {
    font-size: 22px;
    line-height: 30px;
    padding: 44px 18px 28px 18px;
}

.imgSpecContainer .rightCard .iconTextDetailsContainer {
    display: flex;
}

.imgSpecContainer .rightCard .iconTextDetailsContainer .iconText,
.imgSpecContainer .rightCard .iconTextDetailsContainer .details {
    padding: 38px 32px;
    box-sizing: border-box;
}

.imgSpecContainer .rightCard .iconTextDetailsContainer .iconText {
    /* flex: 2; */
    min-width: 240px;
    display: flex;
    align-items: center;
}

.imgSpecContainer .rightCard .iconTextDetailsContainer > div:nth-child(2) {
    flex: 1;
}


.imgSpecContainer .rightCard .iconTextDetailsContainer > div:not(:last-child){
    border-right:1px solid var(--main-dark);
}

.icon1 {
    content:url('../../public/icons/icon-digital.svg');
}

.icon2 {
    content:url('../../public/icons/icon-physical.png');
}

.icon3 {
    content:url('../../public/icons/icon-membership.svg');
}

@media (max-width:700px){
    .imgSpecContainer {
        display: block;
    }

    .imgSpecContainer .leftCard {
        border-right: 1px solid var(--main-dark);
    }
    
    .imgSpecContainer .leftCard {
        border-bottom: 1px solid var(--main-dark);
    }

    .imgSpecContainer .rightCard {
        margin-top: 35px;
    }

    .imgSpecContainer .rightCard .iconTextDetailsContainer .iconText {
        width: 105px;
    }

    .imgSpecContainer .rightCard .iconTextDetailsContainer .iconText,
    .imgSpecContainer .rightCard .iconTextDetailsContainer .details {
        padding: 16px 10px;
    }
}